.contenido {
    padding: 200px 100px;
    background-color: #011836;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    padding: 70px 50px;

    background: #011836;

    min-height: 350px;
    box-sizing: border-box;
}

.hero--image {
    width: 280px;
    height: 280px;

    object-fit: contain;

    border-radius: 20px;

    transition: transform 0.3s ease;
}

.hero--image:hover {
    transform: scale(1.05);
}

.hero--content {
    max-width: 600px;
    text-align: left;
}

.hero--content h2 {
    margin: 0 0 20px;

    font-size: 42px;
    font-weight: 700;

    color: #ffffff;

    letter-spacing: -1px;
}

.hero--content p {
    font-size: 18px;
    line-height: 1.7;

    color: #aebbc9;
}

.contenido h2 {
    color: white;
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: 600;
}

.contenido p {
    color: #e0e0e0;
    line-height: 1.5;
}

.contenido h3 {
    color: white;
    margin-top: 25px;
    margin-bottom: 15px;
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 20px;
}

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    width: 350px;
}

.tarjeta h3 {
    margin-top: 0;
    color: #333;
}

.tarjeta p {
    color: #666;
    font-size: 14px;
}