.contenedor {
    background-color: #011836;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

.imagen{
    height: 300px;
    width: 300px;
    
}

.contenedor--lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.contenedor--lista__item {
    font-weight: 500;
}

.form--container {
    
}