.contenedor {
    background-color: #011836;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.45);

    position: relative;
    z-index: 10;
}

.imagen{
    height: 300px;
    width: 300px;
    
}

.contenedor--lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    padding: 10px;

}

.contenedor--lista__item {
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.form--container {
    
}